.card {
  position: relative;
}
.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

/* front of the card (the picture) */
.card .front {
  position: absolute;
  /* hide the picture */
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front {
  /* show the picture */
  transform: rotateY(0);
  transition-delay: 0.2s;
}

/* back of the card - cover */

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
